@import "cursor.css";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*, *:before, *:after { box-sizing: border-box;}
/* * {cursor: none;} */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    position: relative;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
    padding: 5rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.wrapper::after {
    content: "W";
    font-size: 80vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -56%);
    font-size: 80rem;
    color: #e2ab1510;
    font-weight: 700;
    z-index: -1;
    mix-blend-mode: difference;
    font-family: Kanit, sans-serif;
}


/* TEMP */
/* .temp-relative {
    position: absolute;
    right: -2rem;
    top: -2rem;
} */
/* .temp {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    top: 6rem;
    right: 6rem;
    color:#6969696b
} */
.temp {
    /* position: absolute; */
    font-size: 1.5rem;
    font-weight: 600;
    /* top: 6rem; */
    /* right: 6rem; */
    color:#6969696b;
    align-self: flex-end;
}

/* Background elements */
.black-frame {
    border: #a4e0d50c solid 3rem;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    mix-blend-mode: difference;
    z-index: -1;
}


/* .name-letter-background {
    position: relative;
    left: 50%;
    top: -30%;
} */
/* .name-letter {
    position: absolute;
    left: -50%;
    font-size: 80rem;
    color: #e2ab1510;
    font-weight: 700;
    z-index: -1;
    mix-blend-mode: difference;
    font-family: Kanit, sans-serif;
    font-style: normal;
} */

/* .name-letter-background {
    position: absolute;
    left: 50%;
    top: -30%;
}
.name-letter {
    position: relative;
    left: -50%;
    font-size: 80rem;
    color: #e2ab1510;
    font-weight: 700;
    z-index: -1;
    mix-blend-mode: difference;
    font-family: Kanit, sans-serif;
    font-style: normal;
} */

/* Main */
.wrapper main {
    min-width: 100%;
    /* min-height: 80%; */
    display: flex;
    /* min-height: 100%; */
    /* flex-wrap: wrap; */
    /* height: 60%; */
    flex: 4;
}

.section-home {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    width: 50%;
    /* justify-content: space-between; */
}
.name-title {
    font-size: 10.5rem;
    /* font-size: 8vw; */
    font-weight: 800;
    margin: 0;
    text-shadow: 0px 2px, 2px 0px, 10px 5px rgba(251, 184, 129, 0.096);
    letter-spacing: 0;
    text-transform: uppercase;
    color: #35303b;
    position: relative;
    margin-top: 2.5rem;
}
.lastname-title {
    font-family: Permanent Marker;
    font-style: italic;
    font-size: 12rem;
    /* font-size: 9vw; */
    position: absolute;
    top: 5.5rem;
    left: 3rem;
    color: #e5ceff;
    z-index: -1;
    mix-blend-mode: difference;
    padding-right: 5rem;
}
@media screen and (max-width: 1550px) {
    .name-title {
        font-size: 10rem;
    }
    .lastname-title {
        font-size: 11rem;
    }
}
@keyframes shake {
    0% { transform: skewX(0deg) translate3d(1px, -2px, -1px);color: #e5ceff;}
    2% { transform: skewX(2deg) translateY(0.4rem); color: rgb(136, 155, 147);}
    4% { transform: skewX(-2deg) translateX(0.4rem); color: #e5ceff;}
    5% { transform: skewX(2deg) translateY(-0.4rem); color: #5bafbe;}
    6% { transform: skewX(-70deg) translateX(-0.6rem); color: #70706e59;}
    7% { transform: skewX(-2deg) translateX(0.2rem); color: #e5ceff;}
    8% { transform: skewX(0deg); }
    10% { transform: skewX(0deg); }
    30% { transform: skewX(0deg) translateX(0rem);}
    89% { transform: skewX(0deg) translateX(0rem);}
    90% { transform: skewX(0deg) translateX(-0.1rem) translateY(-0.1rem);}
    91% { transform: skewX(0deg) translateX(0rem);}
    100% { transform: skewX(0deg); }  
}

.lastname-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg,#7794ff,#44107A,#FF1361,#FFF800);
    animation: .8s shake infinite alternate;
    animation-duration: 3s;
}
.job-title {
    color: #3a3a3a;
    position: relative;
    z-index: -1;
    margin-top: 8rem;
    margin-left: 14rem;    
}
.job-group {
    display: flex;
    position: relative;
}
/* .brush-creative {
    width: 32rem;
    color: rgb(95, 25, 48);
    z-index: -1;
    transform: rotate(-2.2deg);
}
.brush-interactive {
    width: 34rem;
    color: rgb(95, 25, 48);
    z-index: -1;
    transform: rotate(1deg);
} */
.brush-creative {
    width: 32rem;
    color: rgb(95, 25, 48);
    position: absolute;
    top: -1.8rem;
    left: -6rem;
    z-index: -1;
    transform: rotate(-2.2deg);
}
.brush-interactive {
    width: 34rem;
    color: rgb(95, 25, 48);
    position: absolute;
    top: 6.3rem;
    left: -6rem;
    z-index: -1;
    transform: rotate(1deg);
}
.job-title h3 {
    font-size: 1.5em;
    /* font-size: 1.2vw; */
    text-transform: uppercase;
    font-weight: 400;
    /* margin-bottom: 3.5rem; */
    /* font-style: italic; */
    /* min-width: 100%; */
    position: absolute;
}
.dev-job {
    left: 0em;
    top: 0.5rem;
}
.music-job {
    left: 0em;
    top: 7.2rem;
}
.job-first {
    /* font-style: italic; */
    font-weight: 300;
}
.separator {
    font-weight: 300;
}

/*SECTION section-PROJECTS*/
.section-projects {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    /* background-color: green; */
}

/* CAROUSEL */
.tiles {
    margin-left: 4rem;
    text-align: center;
    position: relative;
    display: flex;
    width: 80%;
    /* margin-right: -3rem; */
    /* margin-bottom: -3rem; */
    /* clip-path: inset(50% 0 50% 0); */
}
/* TV */
.tv {
    position: absolute;
    /* width: 50rem; */
    /* margin-bottom: 4rem; */
    /* width: 48rem; */
    /* left: -2rem; */
    bottom: -24%;
    /* -moz- */
    left: -1%;
    z-index: 0;
}
.scroller {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    box-shadow: 1px 1px 2px rgba(41, 41, 41, 0.233);
    border-radius: 4px;
    width: 82%;
    /* margin-bottom: 4.4rem; */
    /* margin-right: -4rem; */
    /* min-height: 100%; */
    /* min-width: 100%; */
}
  
.item {
    min-width: 100%;
    scroll-snap-align: center;
    background-color: transparent;
}
.item img {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.btn-tv {
    position: absolute;
    height: 1.6vw;
    width: 1.6vw;
    /* top: 50%; */
    /* margin-top: 1.8em; */
    border-radius: 25px;
    background-color: rgb(172, 172, 172);
    z-index: 1;
    color: rgb(8, 8, 8);
    font-weight: bold;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 30px; */
    /* text-align: center; */
}
.btn-tv:hover {
    background-color: #ffffff;
    transform: scale(1.2);
    transition: all ease 0.3s;
    color: rgb(66, 66, 66);
}
.btn-tv.next {
    right: 5%;
    top: 59%;
}
.btn-tv.prev {
    /* bottom: 0; */
    right: 11%;
    top: 59%;
}
.btn-tv i {
    font-size: 1vw;
}
.tv-help {
    text-transform: uppercase;
    position: absolute;
    right: -22%;
    bottom: 45%;
    display: inline-flex;
    font-size: 2vw;
    color: rgb(230, 199, 255);
    transform: rotate(-30deg);
}
.tv-help span {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1vw;
}
/* .tv-turnon {
    position: absolute;
    right: -3.5rem;
    bottom: 10rem;
    display: inline-flex;
    font-size: 2rem;
    color: rgb(230, 199, 255);
    transform: rotate(40deg);
} */

/* Footer */
.socials-wrapper {
    /* display: flex; */
    flex-direction: column;
    /* position: fixed; */
    /* bottom: 0; */
    /* right: 0; */
    /* padding: 5rem; */
    text-align: right;
}
.socials { 
    display: inline-flex;
    flex-direction: column;
}
.socials a {
    text-decoration: none;
    color: #131313;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all ease 0.4s;
    /* font-style: italic; */
}

.socials a:hover {
    color: rgb(230, 199, 255);
    transition: all ease 0.3s;
}

.rights {
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 4rem;
    text-transform: uppercase; 
}

/* TV TURNON */
/* Media Queries */

@media screen and (max-width: 1550px) {
    .name-title {
        font-size: 8rem;
    }
    .lastname-title {
        font-size: 9rem;
        margin-top: -1rem;
    }
    .brush-creative {
        width: 30rem;
    }
    .brush-interactive {
        width: 32rem;
    }
    .job-title {
        margin-top: 6rem;
        margin-left: 11rem;
    }
    .job-title h3{
        font-size: 1.3rem;
    }
    .wrapper::after {
        font-size: 68rem;
    }
}
@media screen and (max-width: 1300px) {
    .name-title {
        font-size: 7.3rem;
    }
    .lastname-title {
        margin-top: -1rem;
        font-size: 8rem;
    }
    .brush-creative {
        width: 26rem;
    }
    .brush-interactive {
        width: 28rem;
    }
    .job-title {
        margin-left: 10rem;
    }
    .job-title h3{
        font-size: 1.1rem;
    }
    .wrapper::after {
        font-size: 66rem;
    }
}
@media screen and (max-width: 1115px) {
    .tiles {
        margin-left: 2rem;
    }
    .wrapper {
        padding: 5rem 4rem;
    }
    .name-title {
        font-size: 7.3rem;
    }
    .lastname-title {
        margin-top: -1rem;
        font-size: 8rem;
    }
    /* .brush-creative {
        width: 24rem;
    }
    .brush-interactive {
        width: 26rem;
    } */
    .job-title {
        /* margin-top: 8rem; */
        margin-left: 8rem;
    }
    .job-title h3{
        font-size: 1.1rem;
    }
    .wrapper::after {
        font-size: 62rem;
    }
}
@media screen and (max-width: 1000px) {
    .name-title {
        font-size: 6.3rem;
    }
    .lastname-title {
        margin-top: -1rem;
        font-size: 7rem;
    }
    .brush-creative {
        width: 22rem;
        margin-left: 2rem;
        margin-top: 0.8rem;
    }
    .brush-interactive {
        width: 24rem;
        margin-left: 1.5rem;
        top: 5rem;
    }
    .music-job {
        top: 5.6rem;
    }
    .job-title {
        margin-top: 5rem;
        margin-left: 6rem;
    }
    .job-title h3{
        font-size: 1rem;
    }
    .socials a {
        font-size: 1.2rem;
    }
    .wrapper::after {
        font-size: 60rem;
    }
}
@media screen and (max-width: 880px) {
    .wrapper {
        padding: 4rem;
    }
    .name-title {
        font-size: 6.3rem;
        margin-top: -1.5rem;
    }
    .lastname-title {
        margin-top: -1rem;
        font-size: 7rem;
    }
    .brush-creative {
        width: 22rem;
        margin-left: 2rem;
        margin-top: 0.8rem;
    }
    .brush-interactive {
        width: 24rem;
        margin-left: 1.5rem;
        top: 5rem;
    }
    .music-job {
        top: 5.6rem;
    }
    .job-title {
        margin-top: 5rem;
        margin-left: 6rem;
    }
    .job-title h3{
        font-size: 1rem;
        z-index: 10;
    }
    .socials a {
        font-size: 1.2rem;
    }
    .wrapper main {
        flex-direction: column;
    }
    .section-home {
        padding-bottom: 10rem;
        width: 100%;
    }
    .section-projects {
        width: 85%;
        padding-bottom: 1rem;
        /* display: flex; */
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
    .tiles {
        margin: 0;
    }
    .wrapper::after {
        font-size: 45rem;
    }
    .rights {
        left: 0;
        text-align: left;
    }
    .tv-help {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .black-frame {
        border: 1.5rem solid #a4ec0d50;
    }
    .wrapper::after {
        font-size: 100vw;
    }
    .section-projects {
        width: 100%;
        padding-bottom: 3rem;
    }
    .name-title {
        font-size: 18vw;
    }
    .lastname-title {
        font-size: 19vw;
        left: 1rem;
    }
    .temp {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .job-title {
        margin-left: 2rem;
        align-self: left;
        /* transform: translate(-50M); */
    }
    .socials-wrapper {
        display: flex;
        align-items: center;
    }
    .socials {
        flex-direction: row;
    }
    .socials a {
        padding: 1rem;
    }
    .rights {
        left: 0;
        text-align: center;
        padding-bottom: 1.2rem;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    .job-title {
        margin-left: 0.5rem;
        align-self: left;
        /* transform: translate(-50M); */
    }
}
@media screen and (max-width: 375px) {
    .black-frame {
        border: 1rem solid #a4ec0d50;
    }
    .wrapper {
        padding: 2rem;
    }
    .temp {
        font-size: 4vw;
    }
    .name-title {
        font-size: 14vw;
        margin: 0;
    }
    .lastname-title {
        top: 3rem;
        left: 1rem;
        font-size: 16vw;
    }
    .job-title {
        margin: 3rem 3rem;
    }
    .brush-creative {
        width: 20rem;
        margin-left: 2rem;
        margin-top: 1.2rem;
    }
    .brush-interactive {
        width: 21rem;
        margin-left: 1.5rem;
        top: 5rem;
    }
    .job-group h3 {
        font-size: 4.2vw;
        left: -1rem;
    }
    .section-home {
        padding-bottom: 6rem;
    }


    .tv-help {
        display: none;
    }
    .btn-tv {
        width: 4vw;
        height: 4vw;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
}